{%set description = 'Projects portfolio for Karl N. Redman'%}
{%set keywords = "Resume,Software Engineer,Systems Engineer,Programmer,Developer,Administrator,linux,Karl N. Redman, C/C++, bash, python, Release Engineer, Javascript, Linux, HPC, High Performance Computing, Full Stack, Full Stack Devloper"%}

{% extends "base.html" %}

{% block content %}


<!-- <header class="index_header"> -->
<header>
  <div class="jumbotron inline-block p-0"  align="" style="width: 100%;">
    <div class="inline-block;" style="text-align: center;">
        <!-- <h1 style="display:inline;">Karl N. Redman</h1> -->
        <!-- <h2 style="display:inline;">Personal Projects:</h2> -->
        <h1 style="">Karl N. Redman</h1>
        <h2 style="">Personal Projects:</h2>
    </div>
  </div>
</header>


<div class="container-fluid">
    <div class="card-columns">

        <!--*********************************-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">EditFrontMatter (python module):</h5>
                <p class="card-text">
                   Batch edit front matter with Jinja2 templates for python3.
                    <ul>
                        <li>Code: python 3</li>
                        <li>Status: Active</li>
                        <li><a href="https://karlredman.github.io/EditFrontMatter/"><i class="fa fa-home"></i> Project Home Page</a></li>
                        <li><a href="https://dev.to/karlredman/be-a-python-jinja-master-automated-front-matter-editing-1b8a"><i class="fa fa-newspaper-o"></i> Dev.to Article</a></li>
                        <li><a href="https://github.com/karlredman/EditFrontMatter"><i class="fa fa-github"></i> GitHub Page</a></li>
                        <li>
                            <a href="https://pypi.org/project/editfrontmatter/"><img alt="PyPi Version" src="https://img.shields.io/pypi/v/EditFrontMatter.svg?color=blue"></a>
                        </li>
                        <li>
                            <a href="https://github.com/karlredman/EditFrontMatter/actions?query=workflow%3A%22Test+Python+Package+and+Docs%22">
                                <img alt="Build Status" src="https://github.com/karlredman/EditFrontMatter/workflows/Test%20Python%20Package%20and%20Docs/badge.svg"></a>
                            <!-- <a href="https://drone-github.parasynthetic.dev/karlredman/EditFrontMatter"> -->
                            <!--     <img alt="Build Status" src="https://drone-github.parasynthetic.dev/api/badges/karlredman/EditFrontMatter/status.svg?branch=master"></a> -->
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <!--*********************************-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Timetrap TUI (time tracker):</h5>
                <a href="https://github.com/karlredman/Timetrap_TUI/blob/master/devel/demo/screenshot.gif?raw=true"><img class="card-img-top" src="https://github.com/karlredman/Timetrap_TUI/blob/master/devel/demo/screenshot.gif?raw=true" alt="Card image cap"></a>
                <p class="card-text">
                    A node.js based event driven terminal user interface application for the ruby based 'Simple command line timetracker' Timetrap.
                    <ul>
                        <li>Code: Javascript (ndoe.js)</li>
                        <li>Status: Active</li>
                        <li><a href="https://github.com/karlredman/Timetrap_TUI"><i class="fa fa-github"></i> GitHub Page</a>
                        <li>
                            <a href="https://www.npmjs.com/package/timetrap_tui"><img alt="NPM Version" src="https://img.shields.io/npm/v/timetrap_tui.svg"></a>
                        </li>
                        <li>
                            <a href="https://drone-github.parasynthetic.dev/karlredman/Timetrap_TUI">
                                <img alt="Build Status" src="https://drone-github.parasynthetic.dev/api/badges/karlredman/Timetrap_TUI/status.svg"></a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <!--*********************************-->
        <!--blank card-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Vimwiki+Gollum Integration:
                </h5>
                <a href="https://github.com/karlredman/Vimwiki-Gollum-Integration/blob/master/docs/screenshot/screenshot.gif?raw=true"><img class="card-img-top" src="https://github.com/karlredman/Vimwiki-Gollum-Integration/blob/master/docs/screenshot/screenshot.gif?raw=true" alt="Card image cap"></a>
                <p class="card-text">
                    A guide and tutorial, with tools and 'out of the box' examples, for integrating Vimwiki with Gollum Wiki on Linux systems. The aim of this project is to provide a fairly easy installation and setup for a working Vimwiki + Gollum workflow.
                    <ul>
                        <li>Code: Ruby, Bash
                        </li>
                        <li>Status: Complete
                        </li>
                        <li><a href="https://github.com/karlredman/Vimwiki-Gollum-Integration"><i class="fa fa-github"></i> GitHub Page</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>

        <!--*********************************-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Dirp (dirs stack manager):
                </h5>
                <a href="https://asciinema.org/a/jmH6bzcn0XMFPt8qPVMuvE3gr?autoplay=1"><img class="card-img-top" src="{{url_for('static', filename='images/dirp_asciinema.png')}}" alt="asciinema video"></a>
                <p class="card-text">
                    A bash shell workflow system to help manage the builtin stack functions dirs, pushd, popd.
                    <ul>
                        <li>Code: Bash
                        </li>
                        <li>Status: Active
                        </li>
                        <li><a href="https://github.com/karlredman/dirp"><i class="fa fa-github"></i> GitHub Page</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <!--*********************************-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Articles:</h5>
                <p class="card-text">
                   A D.R.Y. repository and showcase of various articles by Karl N. Redman.
                    <ul>
                        <li>Code: markdown</li>
                        <li>Tools: <a href="https://gohugo.io/">Hugo</a> / <a href="https://drone.io/">Drone</a></li>
                        <li>Status: Active</li>
                        <li><a href="https://karlredman.github.io/Articles/"><i class="fa fa-home"></i> Project Home Page</a></li>
                        <li><a href="https://github.com/karlredman/Articles"><i class="fa fa-github"></i> GitHub Page</a></li>
                        <li>
                            <a href="https://drone-github.parasynthetic.dev/karlredman/Articles">
                                <img alt="Build Status" src="https://drone-github.parasynthetic.dev/api/badges/karlredman/Articles/status.svg"></a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <!--*********************************-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Shared Condition Variable Eumlation:
                </h5>
                <p class="card-text">
                    The POSIX standard for shared condition variables across processes is honored by most UNIX implementations <b>except Linux</b>. In order to provide uniform behavior of the condition variable mechanism a different solution for Linux had to be divined. The code examples provided here demonstrate one solution using signaling.
                    <ul>
                        <li>Code: C/C++
                        </li>
                        <li>Status: Complete
                        </li>
                        <li><a href="https://karlredman.github.io/cond-var/"><i class="fa fa-file-code-o"></i> Project Page</a> </li>
                        <li><a href="https://github.com/karlredman/cond-var"><i class="fa fa-github"></i> GitHub Page</a> </li>
                    </ul>
                </p>
            </div>
        </div>
        <!--*********************************-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">This Website (karlredman.github.io):</h5>
                <a href="{{url_for('static', filename='images/index_screenshot-1.png')}}"><img class="card-img-top" src="{{url_for('static', filename='images/index_screenshot-1.png')}}" alt="Card image cap"></a>
                <p class="card-text">
                    This is a reactive static website generated from inline content
                    using <a href="http://flask.pocoo.org/">Flask</a> and <a
                             href="https://pythonhosted.org/Frozen-Flask/">Frozen-Flask</a>.
                         Sources for this simple project can be found <a href="https://github.com/karlredman/karlredman.github.io-devel">here</a>.
                         <ul>
                             <li>Code: HTML5, Javascript, CSS (Bootstrap), Python </li>
                             <li>Status: Active</li>
                             <li><a href="https://github.com/karlredman/karlredman.github.io-devel"><i class="fa fa-github"></i> GitHub Page</a></li>
                             <li><a href="{{url_for('about_site')}}">Website Information Page</a></li>
                             <li>
                                <a href="https://drone-github.parasynthetic.dev/karlredman/karlredman.github.io-devel">
                                    <img alt="Build Status" src="https://drone-github.parasynthetic.dev/api/badges/karlredman/karlredman.github.io-devel/status.svg?branch=master"></a>
                            </li>

                         </ul>
                </p>
            </div>
        </div>


        <!--*********************************-->
        <div class="card text-center p-3">
            <a href="{{url_for('projects_old')}}">
            <blockquote class="blockquote mb-0">
                    <p>Older, mostly retired projects...</p>
            </blockquote>
                </a>
        </div>

    </div> <!-- --card-columns -->
</div> <!-- /container -->


{% endblock %}
